
html
  for i in 10..5
    @media (max-width: (i*100)px)
      font-size: 10.5px+(i/2)

@media screen and (max-width: 1100px)
  .grid
    margin: 0 10%
    width: 80%

  .subpage header nav
    position: relative


@media screen and (max-width: 900px)
  #socials a
    padding: 0 23px


@media screen and (max-width: 700px)
  #socials a
    font-size: 1.5em


@media screen and (max-width: 600px)
  header
    nav
      p.home
        font-size: 2.5em

      p.subhead
        font-size: 1.56em

      ul
        li
          display: block
          padding: 20px

  #socials a
    padding: 0 20px

@media screen and (max-width: 500px)
  header
    nav
      p.home
        font-size: 2em

      p.subhead
        font-size: 1.22em

  #socials a
    padding: 0 15px

@media screen and (max-width: 400px)
  header
    nav
      p.home
        font-size: 1.5em

      p.subhead
        font-size: 0.88em

  #socials a
    padding: 0 10px
