
html
  for i in 10..5
    @media (max-width: (i*100)px)
      font-size: 10.5px+(i/2)

@media screen and (max-width: 700px)
  #socials a
    font-size: 1.5em

// 
// @media screen and (max-width: 600px)
//   header
//     nav
//       p.home
//         font-size: 2.5em
//
//       p.subhead
//         font-size: 1.56em
//
//       ul
//         font-size: 1em
//
//         li
//           padding: 9px
