
.fancybox-case
  background-color: transparent
  text-align: center

iframe
  width: 100%

.fancybox-wrap.fancybox-type-inline
  $backer($pink)

.inline
  display: none

  .grid
    background-color: $grey
    padding: 80px 60px 40px

    p
      font-size: 1em
      line-height: 1.5em

    .author
      text-align: right

      p.name
        $primary-font($bold)
        font-size: 1.7em
        letter-spacing: 2px
        padding: 30px 0 0
        text-transform: uppercase

      p.company
        $primary-font($regular)
        font-size: 1.3em
        letter-spacing: 1px
        text-transform: uppercase

.subpage.evidencepage

  .info
    background: $black
    opacity: .75
    padding: 5% 30px
    position: absolute
    right: 0
    top: 0
    width: 18%

    h3.title
      padding-bottom: 30px
      position: relative
      text-align: left
      top: 0

    p.items
      font-size: .9em
      line-height: 1.35em
      $primary-font($light)

    p.details
      font-size: .75em
      line-height: 1.25em
      $primary-font($light)

    .button
      margin: 0 auto
      position: relative
      width: 100%
