
.subpage

  &.animate-bg
    padding-top: 20px

  header
    margin: 20px 0 80px -35px

    nav
      float: left

    a.logo
      display: inline-block
      margin: 0
      vertical-align: top
      width: 20px

    p.home
      $primary-font($light)
      display: inline-block
      font-size: 1.125em
      letter-spacing: 0
      line-height: 65px
      padding: 0 10px
      vertical-align: middle

    ul
      $primary-font($light)
      display: inline-block
      font-size: 1.125em
      letter-spacing: 0
      vertical-align: middle
      width: auto

      li
        padding: 0 10px 0 0

        &:before
          color: $white
          content: '/ '

        a
          padding-left: 10px

    p.subhead,
    hr
      display: none

  #socials
    display: inline-block
    vertical-align: -53px

    a
      font-size: 1em
      padding: 0 15px

  &.biopage

    header nav ul li a.bio
      font-weight: $bold

  &.evidencepage

    header nav ul li a.evidence
      font-weight: $bold

  &.proofpage

    header nav ul li a.proof
      font-weight: $bold

  .columns
    display: block
    padding-bottom: 2em

    &.two

      .column
        display: inline-block
        width: 25%

        .img
          $backer($yellow)
          margin-bottom: 30px

          img
            width: 100%

        &.text
          margin-left: 4%
          vertical-align: top
          width: 70%

        &.testimonial
          $backer($yellow)
          background-size: cover
          margin: 0 0 40px 0
          padding: 40px 40px 20px 60px
          width: 38%

          .button
            $button(240px)
            float: right

        &.andy
          background: url(../_images/proof-andy.jpg)
          margin-right: 3%

        &.brian
          background: url(../_images/proof-brian.jpg)

        &.rich
          background: url(../_images/proof-rich.jpg)

        &.leslie
          background: url(../_images/proof-leslie.jpg)
          margin-right: 3%

        &.terryl
          background: url(../_images/proof-terryl.jpg)
          margin-right: 3%

        &.kyle
          background: url(../_images/proof-kyle.jpg)

      &.even

        .column
          margin: 0 4.5%
          text-align:center
          width: 40%

    &.three

      p
        $primary-font($regular)
        font-size: 1em
        line-height: 1.3em
        text-transform: uppercase

      .column
        display: inline-block
        margin-right: 4.5%
        text-align: center
        width: 30%

        &:last-child
          margin-right: 0

    &.logo
      margin-top: 30px

      &.first
        margin-top: 0

      .column
        display: inline-block
        vertical-align: top
        width: 15%

        .img
          margin-bottom: 20px
          text-align: center

          img
            max-height: 110px
            max-width: 100%

        &.text
          margin-left: 4.5%
          vertical-align: middle
          width: 80%

  .button
    $button(100%)


  &.evidencepage

    h3.title
      color: $white
      font-size: .8em
      letter-spacing: 3px
      line-height: 1.3em
      padding-bottom: 0
      $primary-font($light)
      position: absolute
      text-align: center
      text-transform: uppercase
      top: 15px
      width: 100%

    .button
      background: $yellow
      border: 0
      margin: 0 10%
      opacity: 0
      position: absolute
      text-align: center
      top: 20%
      width: 80%

      &:hover
        text-decoration: none

      &:active,
      &.is-checked
        color: $blue

      &.is-checked
        color: $yellow

    /* ---- button-group ---- */

    .button-group
      clear(both)
      text-align: center

      .button
        background-color: transparent
        display: inline-block
        float: none
        margin: 0 0 3px
        position: inherit
        width: auto

    .btn-row
      clear(both)
      margin: 1px auto 2px
      text-align: center

      .button
        line-height: 1em
        padding: 0.8em 16.9px
        width: auto

        &:after
          content: ''
          padding-left: 0


    /* ---- isotope ---- */

    .isotope-case
      border: none
      clear(both)
      padding-bottom: 135px
      position: relative

      .inline
        display: none

    /* ---- .gallery-item ---- */

    .gallery-item
      background: $black
      clear(both)
      color: $white
      float: left
      height: auto
      overflow: hidden
      padding: 0
      position: relative
      width: 20%

      &.rect
        width: 40%

      &.tall
        img
          margin-bottom: -12px

      > *
        margin: 0
        padding: 0
        text-decoration: none

      a:hover
        margin: -2%
        overflow: hidden
        transition: margin 400ms ease-in

        .button
          opacity: 1
          transition: opacity 400ms ease-out

        img
          opacity: 1
          transition: all 400ms ease-in
          width: 104%

        h3
          color: $yellow
          transition: color 400ms ease-out

      picture,
      video
        width: 100%

      img
        opacity: 0.3
        width: 100%

      .alpha,
      .date
        display: none
