
include _includes/head

body.animate-bg.subpage.biopage

  .grid

    block content

      include _includes/navigation

      .columns.two
      
        .column
        
          .img
            img(src='_images/lindseys.gif')
          
          a.button(href='_includes/lindsey-maddox.pdf') Download Resume
          
        .column.text
          
          p.intro
            span Lindsey Maddox 
            | is a top-performing web developer and graphic designer with a passion for creating beautiful, functional, fluidly responsive websites. 

          p.meat
            | With more than 11 years of professional experience, Lindsey has a forté for fusing her natural artistic abilities with her graphic design skills to inform and influence her drive to create pixel-perfect websites. She’s passionate about exploring the world of code, and wields a strong expertise in UX and W3C spec, semantically coded websites that adhere to development best practices and industry standards.

      p.subhead Areas of Expertise

      .columns.three
      
        .column
          p Web Development
          p Information Architecture
          
        .column
          p Graphic Design
          p Search Engine Optimization

        .column
          p User Experience
          p Email Marketing
          
      p.subhead Software Proficiency/Technological Skills
      
      p.listblob HTML (Jade), CSS (LESS, SCSS, Stylus), front end frameworks (Bootstrap, Bourbon, Neat, etc.), PHP (CMS integration), Javascript (REACT, JQuery, MVC frameworks), Version Control (Github, Bitbucket), Structured Data Systems (Open Graph, Schema.org, Twitter Cards, oEmbed, JSON-LD), Database (MongoDB, SQL), Docker, API (Postman), Adobe Web Services, Adobe Suite, Sketch, MAMP

      p.subhead Education
      
      p.line-item Watkins College of Art, Design, and Film, BFA, Graphic Design
      p.line-item Art Institute of Tennessee&mdash;Nashville, Interactive Media Design, Continuing Education
      p.line-item.last The Ironyard&mdash;Nashville, Continuing Education

      p.subhead Professional Experience
      
      .columns.logo
      
        .column
        
          .img
            img(src='_images/logo-bkon.png' alt='BKON Connect logo')

        .column.text
        
          p.workplace BKON Connect, Nashville, TN
          p.workplace 2016 – present
          p.workplace Developer

        p.desc Concerned with personal connectivity and the Internet of Things, I work with a technology team that dreams up new features and deploys weekly. We’re building the next generation of the web – the Physical Web. I work alongside passionate creators building SaaS for the management of beacons, both on Google's open source Eddystone and Apple's iBeacon protocols.
        p.desc As the front end developer, I'm responsible for translating design ideas into React-powered elements, and integrating those components with our web application, PHY.net.

      .columns.logo
      
        .column
        
          .img
            img(src='_images/logo-readysetgo.svg' alt='Ready Set Go logo')

        .column.text
        
          p.workplace Ready Set Go, Nashville, TN
          p.workplace 2006 – present
          p.workplace Organizer

        p.desc As a freelance front end developer, graphic designer, and UX specialist, I focus on creating usable, functional, responsive websites that follow industry standards and best practices and are optimized for practical development solutions. 
        p.desc I’m known for developing clean, solid, semantic markup with as little overhead and redundancy as possible—which results in lightweight, fast-loading code. And I always document code and markup so clients can easily maintain their websites. My background in graphic design allows me to hand-code pixel-perfect websites that incorporate as many aspects as possible from initial mockups.
        p.desc I believe that consistency is key when it comes to effective messaging. That’s why every website I create accurately reflects a client’s brand and voice. This also leads to higher rates of user engagement, increased call-to-action responses, and more effective overall digital branding.

      .columns.logo
      
        .column
        
          .img
            img(src='_images/logo-idesign.png' alt='iDesign logo')

        .column.text
        
          p.workplace iDesign, Nashville, TN
          p.workplace 2013 – 2015
          p.workplace Web Developer

        p.desc As the senior front end developer, I specialized in hand-coding custom websites while streamlining internal processes that improved efficiency and communication among team members. I introduced the practice of using Git repositories and LESS with code pre-compilers, creating consistency across the agency while allowing me to master object-oriented CSS. I suggested and oversaw SEO improvements to internal coding practices to include Twitter Cards, Open Graph, and Schema—which helped ensure accurate and consistent client messaging across multiple social media platforms.

      .columns.logo
      
        .column
        
          .img
            img(src='_images/logo-cj.png' alt='cj Advertising logo')

        .column.text
        
          p.workplace cj Advertising, Nashville, TN
          p.workplace 2011 – 2013
          p.workplace Web Developer

        p.desc I began as an entry-level junior designer and was soon promoted to a web developer, where I became an integral part of the company's interactive department and managed website updates for more than 40 clients across the country. I assisted with the development of the company's internal project management system, which simultaneously housed several hundred projects and was accessed by approximately 150 employees and clients on a weekly basis. I received multiple awards and honors, including Employee of the Month for outstanding service.
