include _includes/head

  body.animate-bg

    include _includes/navigation


    .wrapper

      .main

        aside
          block sidebar

        section.clear
          .grid
            block content
