
include _includes/head

body.animate-bg.subpage.proofpage

  .grid

    block content

      include _includes/navigation

      .columns.two
      
        .column.testimonial.leslie
        
          p.quote Lindsey is wonderfully imaginative, smart and determined. 

          p.author &ndash;Leslie Haines
          p.affiliation Middle Tennessee State University
          
          a.button.fancybox(href='#leslie') Read Testimonial

          #leslie.inline
            .grid
              p Lindsey is wonderfully imaginative, smart and determined. She can write as well as design and she gets type. Great combination!
              .author
                p.name Leslie Haines
                p.company Middle Tennessee State University

        .column.testimonial.brian
        
          p.quote Lindsey is one of those rare talents who can design and develop online assets.

          p.author &ndash;Brian Hamblen
          p.affiliation iDesign, Inc.
          
          a.button.fancybox(href='#brian') Read Testimonial

          #brian.inline
            .grid
              p Lindsey is one of those rare talents that can design and develop online assets. She is very easy to collaborate with, she values quality, and is a great listener. I have enjoyed working with her and would recommend her in a heartbeat.
              .author
                p.name Brian Hamblen
                p.company iDesign, Inc.

        .column.testimonial.andy
        
          p.quote
            | I only wish I had found 
            span.nowrap Lindsey Maddox 
            | long ago!

          p.author &ndash;Andy Miller
          p.affiliation Angry Eagle Lodge &amp; Outfitters
          
          a.button.fancybox(href='#andy') Read Testimonial
          
          #andy.inline
            .grid
              p To anyone who wants a first-class website and/or custom graphic design: I’ve had more than 20 websites developed for a myriad of companies over the years. These experiences have ranged from good to literal nightmares. I only wish I had found Lindsey Maddox long ago!
              p Lindsey not only made our most recent project affordable, she made it practically effortless for us while incorporating the essence of our ideas. She also brought her own incredibly imaginative and creative ideas, which none of my partners would have remotely considered. It made the end product so much more than we could have ever hoped for. It is truly unique in its look, feel, and functionality.
              p In fact, that was one of the biggest pickups! Not only is our website inviting and engaging, but it also has back-end functionality that enables us to eliminate dated software. As a result, we are able to use our time and effort more effectively. We can now manage our client information in ways that go from lead generation all the way through emailing birthday cards. We can post pictures from our clients’ trips, and we even have the ability to allow clients to order prints from us, which provides us with additional revenue opportunities.
              p The information and imagination provided by Lindsey helped our team find ways to increase revenue potential per client while simultaneously allowing us to create stronger, more meaningful relationships with our clients.
              p Add to this the fact that Lindsey designed a new logo for our brand. She not only encapsulated my feelings in the logo, but she also expanded on the original concept by adding unique touches that stick in our  clients’ minds. Her logo design is so strong that people who haven’t even visited us are buying our branded clothing simply because they love our logo!
              p We’ve worked hard to upgrade our business, and Lindsey dedicated herself to becoming part of our dream. And it showed with every interaction I had with her.
              p If this all sounds "too good to be true,” think again. It comes from an incredible experience when the best before had only been “a bit better than okay.” If anyone ever wants to get the Best.... LOOK NO FURTHER!
              .author
                p.name Andy Miller
                p.company Angry Eagle Lodge &amp; Outfitters

        .column.testimonial.rich
        
          p.quote Lindsey is self-motivated and driven to deliver quality results.

          p.author &ndash;Rich Shockley
          p.affiliation Catalog Music Corporation
          
          a.button.fancybox(href='#rich') Read Testimonial

          #rich.inline
            .grid
              p Lindsey helped to re-envision the look and feel of our music catalog during her tenure. At the time she came on board with us we needed some freshness to be brought to the design and layout of the catalog front front to back, and her ability to not only maintain the essence of what appealed to our customers but to add a unique spin and give it a face lift was spot on. In fact, one my all time favorite covers of the catalog during my tenure here she designed (I nicknamed it the "Godfathers of Bluegrass" catalog). It was nothing like anything that had been done before and stood out to us as well as our customer base. I believe her to be self-motivated and driven to deliver quality results in whatever she does. Additionally, Lindsey was a pleasure to work with on a personal level as well. I enjoyed the time we had to work together and believe she will be an important part of any company she works with or for.
              .author
                p.name Rich Shockley
                p.company Catalog Music Corporation

        .column.testimonial.terryl
        
          p.quote Lindsey is the ultimate pro.

          p.author &ndash;Terryl Wood
          p.affiliation Knockout Fitness
          
          a.button.fancybox(href='#terryl') Read Testimonial

          #terryl.inline
            .grid
              p I contacted Lindsey Maddox in a desperate situation as the design company who created our website went out of business leaving us with no site support and a hosting company holding our site hostage. Lindsey was the ultimate pro. She jumped right in and were able to secure the rights back to our website. In addition, she updated and streamlined our site with a creative edge that completely captured our business style. Amazingly, she did all of this in just a few days! Follow up support has been a breeze too. I would highly recommend Lindsey Maddox and her services.
              .author
                p.name Terryl Wood
                p.company Knockout Fitness

        .column.testimonial.kyle
        
          p.quote Lindsey makes projects easy!

          p.author &ndash;Kyle Greenup
          p.affiliation NGU Risk Management
          
          a.button.fancybox(href='#kyle') Read Testimonial

          #kyle.inline
            .grid
              p We've hired Lindsey Maddox for several projects over the years. Each time, I must say that the experience has been a positive one. Her ability to decipher our needs, make suggestions, and attention to detail is quite refreshing. I can't remember a time when she didn't finish a project within the timeline... She makes projects easy!
              .author
                p.name Kyle Greenup
                p.company NGU Risk Management
