html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
}
-webkit-box-sizing border-box,
-moz-box-sizing border-box,
box-sizing border-box,
-moz-background-clip padding-box !important,
-webkit-background-clip padding-box !important,
background-clip padding-box !important,
a {
  background: transparent;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time {
  display: block;
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
b,
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
small {
  font-size: 85%;
}
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
svg:not(root) {
  overflow: hidden;
}
.clear:after {
  display: block;
  content: "";
  clear: both;
}
html {
  color: #fff;
  font-size: 16px;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.icon-codepen:before {
  content: '\e900';
}
.icon-email:before {
  content: '\e901';
}
.icon-github:before {
  content: '\e902';
}
.icon-linkedin:before {
  content: '\e903';
}
.icon-map:before {
  content: '\e904';
}
.icon-quote:before {
  content: '\e907';
}
.icon-resume:before {
  content: '\e905';
}
.icon-twitter:before {
  content: '\e906';
}
.nowrap {
  white-space: nowrap;
}
p {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  padding-bottom: 1em;
}
p.intro {
  font-size: 1.5em;
  line-height: 1.5em;
  text-transform: uppercase;
}
p.intro span {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 700;
}
p.meat {
  font-size: 1em;
  line-height: 2em;
}
p.subhead {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  letter-spacing: 4px;
  line-height: 1.333333333333333em;
  padding: 2em 0;
  text-align: center;
  text-transform: uppercase;
}
p.listblob {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.1875em;
  font-style: italic;
  line-height: 1.736842105263158em;
  padding-bottom: 2em;
  text-align: center;
}
p.line-item {
  font-size: 1em;
  line-height: 1.3em;
  text-align: center;
  text-transform: uppercase;
}
p.line-item.last {
  padding-bottom: 2em;
}
p.workplace {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.15em;
  line-height: 1.75em;
  letter-spacing: 5px;
  padding-bottom: 0;
  text-transform: uppercase;
}
p.desc {
  font-size: 1em;
  line-height: 1.5em;
}
p.quote {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  position: relative;
}
p.quote:before {
  content: '\e907';
  display: block;
  font-family: icomoon;
  left: -1.75em;
  position: absolute;
  top: -0.25em;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
p.author {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1em;
  padding-bottom: 0.5em;
  text-align: right;
  text-transform: uppercase;
}
p.affiliation {
  font-size: 0.8em;
  padding-bottom: 0;
  text-align: right;
  text-transform: uppercase;
}
.border-radius(n) {
  border-radius: n;
}
.transition(t) {
  -webkit-transition: all t ease;
  transition: all t ease;
}
.grid {
  max-width: 1000px;
  margin: 0 auto;
}
.animate-bg {
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-animation: animateBG 20s ease infinite;
          animation: animateBG 20s ease infinite;
  background-image: -webkit-linear-gradient(135deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  background-size: 300% 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 260vh;
  padding-top: 20%;
  width: 100%;
}
@-webkit-keyframes animateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header nav hr {
  border-top: 1px solid #fff;
  background-color: transparent;
}
header nav a.logo {
  display: block;
  margin: 0 auto;
  width: 40px;
}
header nav a.logo img {
  width: 100%;
}
header nav p.home {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 3em;
  letter-spacing: 0.25em;
  line-height: 2em;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
header nav p.home span {
  letter-spacing: 0.025em;
}
header nav p.home a {
  color: #fff;
  text-decoration: none;
}
header nav ul {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: block;
  font-size: 1.15em;
  letter-spacing: 5px;
  margin: 30px auto;
  text-align: center;
  text-transform: uppercase;
  width: 600px;
}
header nav ul li {
  display: inline-block;
  padding: 10px 20px;
}
header nav ul li a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
header nav ul li a:hover {
  opacity: 0.5;
}
header p.subhead {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 1.95em;
  letter-spacing: 0.06em;
  line-height: 1em;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
header p.subhead span {
  display: inline-block;
}
span.switcher-case {
  color: #fff;
  height: 1em;
  margin: 0 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: -5px;
  width: auto;
}
span.switcher-case span.switcher {
  -webkit-animation: switcher 8s ease-in-out infinite;
          animation: switcher 8s ease-in-out infinite;
}
span.switcher-case span.switcher span {
  height: 1em !important;
  display: block;
  font-size: 1em;
  line-height: 1em;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}
#socials {
  height: 0;
  overflow: hidden;
  text-align: center;
  -webkit-transition: height 400ms ease-in;
  transition: height 400ms ease-in;
}
#socials a {
  color: #fff;
  display: inline-block;
  font-size: 2em;
  padding: 0 30px;
  text-decoration: none;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
#socials a:hover {
  opacity: 0.5;
}
#socials.expanded {
  height: 36px;
}
@-webkit-keyframes switcher {
  100%, 0% {
    -webkit-transform: translate(0px, 0em);
            transform: translate(0px, 0em);
  }
  20% {
    -webkit-transform: translate(0px, -1em);
            transform: translate(0px, -1em);
  }
  40% {
    -webkit-transform: translate(0px, -2em);
            transform: translate(0px, -2em);
  }
  60% {
    -webkit-transform: translate(0px, -3em);
            transform: translate(0px, -3em);
  }
  80% {
    -webkit-transform: translate(0px, -4em);
            transform: translate(0px, -4em);
  }
}
@keyframes switcher {
  100%, 0% {
    -webkit-transform: translate(0px, 0em);
            transform: translate(0px, 0em);
  }
  20% {
    -webkit-transform: translate(0px, -1em);
            transform: translate(0px, -1em);
  }
  40% {
    -webkit-transform: translate(0px, -2em);
            transform: translate(0px, -2em);
  }
  60% {
    -webkit-transform: translate(0px, -3em);
            transform: translate(0px, -3em);
  }
  80% {
    -webkit-transform: translate(0px, -4em);
            transform: translate(0px, -4em);
  }
}
#id .class {
  margin-left: 5px;
}
.fancybox-case {
  background-color: transparent;
  text-align: center;
}
iframe {
  width: 100%;
}
.fancybox-wrap.fancybox-type-inline {
  position: relative;
}
.fancybox-wrap.fancybox-type-inline:after {
  background-color: #e1357f;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  width: 100%;
  z-index: -1;
}
.inline {
  display: none;
}
.inline .grid {
  background-color: #565656;
  padding: 80px 60px 40px;
}
.inline .grid p {
  font-size: 1em;
  line-height: 1.5em;
}
.inline .grid .author {
  text-align: right;
}
.inline .grid .author p.name {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.7em;
  letter-spacing: 2px;
  padding: 30px 0 0;
  text-transform: uppercase;
}
.inline .grid .author p.company {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.subpage.animate-bg {
  padding-top: 20px;
}
.subpage header {
  margin: 20px 0 80px -35px;
}
.subpage header nav {
  float: left;
}
.subpage header a.logo {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  width: 20px;
}
.subpage header p.home {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 300;
  display: inline-block;
  font-size: 1.125em;
  letter-spacing: 0;
  line-height: 65px;
  padding: 0 10px;
  vertical-align: middle;
}
.subpage header ul {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 300;
  display: inline-block;
  font-size: 1.125em;
  letter-spacing: 0;
  vertical-align: middle;
  width: auto;
}
.subpage header ul li {
  padding: 0 10px 0 0;
}
.subpage header ul li:before {
  color: #fff;
  content: '/ ';
}
.subpage header ul li a {
  padding-left: 10px;
}
.subpage header p.subhead,
.subpage header hr {
  display: none;
}
.subpage #socials {
  display: inline-block;
  vertical-align: -53px;
}
.subpage #socials a {
  font-size: 1em;
  padding: 0 15px;
}
.subpage.biopage header nav ul li a.bio {
  font-weight: 700;
}
.subpage.evidencepage header nav ul li a.evidence {
  font-weight: 700;
}
.subpage.proofpage header nav ul li a.proof {
  font-weight: 700;
}
.subpage .columns {
  display: block;
  padding-bottom: 2em;
}
.subpage .columns.two .column {
  display: inline-block;
  width: 25%;
}
.subpage .columns.two .column .img {
  position: relative;
  margin-bottom: 30px;
}
.subpage .columns.two .column .img:after {
  background-color: #d6a203;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  width: 100%;
  z-index: -1;
}
.subpage .columns.two .column .img img {
  width: 100%;
}
.subpage .columns.two .column.text {
  margin-left: 4%;
  vertical-align: top;
  width: 70%;
}
.subpage .columns.two .column.testimonial {
  position: relative;
  background-size: cover;
  margin: 0 0 40px 0;
  padding: 40px 40px 20px 60px;
  width: 38%;
}
.subpage .columns.two .column.testimonial:after {
  background-color: #d6a203;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  width: 100%;
  z-index: -1;
}
.subpage .columns.two .column.testimonial .button {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 400;
  border-radius: 5px;
  background: -webkit-radial-gradient(center ellipse, #e2bd4d 0%, #d6a203 100%);
  background: radial-gradient(ellipse at center, #e2bd4d 0%, #d6a203 100%);
  color: #fff;
  display: block;
  font-size: 0.8em;
  letter-spacing: 2px;
  line-height: 3em;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: gradient 400ms ease-in;
  transition: gradient 400ms ease-in;
  width: 240px;
  float: right;
}
.subpage .columns.two .column.testimonial .button:hover {
  background: -webkit-radial-gradient(center ellipse, #d6a203 0%, #e2bd4d 100%);
  background: radial-gradient(ellipse at center, #d6a203 0%, #e2bd4d 100%);
  font-weight: 700;
}
.subpage .columns.two .column.andy {
  background: url("../_images/proof-andy.jpg");
  margin-right: 3%;
}
.subpage .columns.two .column.brian {
  background: url("../_images/proof-brian.jpg");
}
.subpage .columns.two .column.rich {
  background: url("../_images/proof-rich.jpg");
}
.subpage .columns.two .column.leslie {
  background: url("../_images/proof-leslie.jpg");
  margin-right: 3%;
}
.subpage .columns.two .column.terryl {
  background: url("../_images/proof-terryl.jpg");
  margin-right: 3%;
}
.subpage .columns.two .column.kyle {
  background: url("../_images/proof-kyle.jpg");
}
.subpage .columns.three p {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.3em;
  text-transform: uppercase;
}
.subpage .columns.three .column {
  display: inline-block;
  margin-right: 4.5%;
  text-align: center;
  width: 30%;
}
.subpage .columns.three .column:last-child {
  margin-right: 0;
}
.subpage .columns.logo {
  margin-top: 30px;
}
.subpage .columns.logo.first {
  margin-top: 0;
}
.subpage .columns.logo .column {
  display: inline-block;
  vertical-align: top;
  width: 15%;
}
.subpage .columns.logo .column .img {
  margin-bottom: 20px;
  text-align: center;
}
.subpage .columns.logo .column .img img {
  max-height: 110px;
  max-width: 100%;
}
.subpage .columns.logo .column.text {
  width: 80%;
  margin-left: 4.5%;
  vertical-align: middle;
}
.subpage .button {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 400;
  border-radius: 5px;
  background: -webkit-radial-gradient(center ellipse, #e2bd4d 0%, #d6a203 100%);
  background: radial-gradient(ellipse at center, #e2bd4d 0%, #d6a203 100%);
  color: #fff;
  display: block;
  font-size: 0.8em;
  letter-spacing: 2px;
  line-height: 3em;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: gradient 400ms ease-in;
  transition: gradient 400ms ease-in;
  width: 100%;
}
.subpage .button:hover {
  background: -webkit-radial-gradient(center ellipse, #d6a203 0%, #e2bd4d 100%);
  background: radial-gradient(ellipse at center, #d6a203 0%, #e2bd4d 100%);
  font-weight: 700;
}
/* fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  background: $green;
  max-width: 2500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: $green;
  color: #fff;
  text-shadow: none;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-skin {
  box-shadow: 0 10px 25px rgba(86,86,86,0.5);
  padding: 0 !important;
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-burned {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
  background: url("../_images/burned.png") repeat-y center center transparent;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-inner picture,
.fancybox-inner img {
  width: 100%;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: $orange;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
  background-image: url("../_images/fancybox_sprite.png");
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../_images/fancybox_loading.gif") center center no-repeat;
}
.fancybox-close {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../_images/blank.gif") /* helps IE */;
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../_images/fancybox_overlay.png");
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
.fancybox-title {
  visibility: hidden;
  font-size: 0.8em;
  line-height: 1.5em;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent /* Fallback for web browsers that doesn't support RGBa */;
  background: rgba(86,86,86,0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #565656;
  color: #fff;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: rgba(86,86,86,0.8);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .fancybox-close,
  .fancybox-prev span,
  .fancybox-next span {
    background: url("../_images/fancybox_sprite@2x.png");
    background-size: 44px 152px /*The size of the normal image, half the size of the hi-res image*/;
  }
  #fancybox-loading div {
    background: url("../_images/fancybox_loading@2x.gif");
    background-size: 44px 44px /*The size of the normal image, half the size of the hi-res image*/;
  }
}
.fancybox-desktop {
  min-width: 640px;
  min-height: 364px;
}
@media (max-width: 1000px) {
  html {
    font-size: 15.5px;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 14.5px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 13.5px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 13px;
  }
}
/*# sourceMappingURL=compiled.css.map */