<!DOCTYPE html>
<html>
  <head>
    <title>Lindsey Maddox Makes Websites</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=9BampWPmGp">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=9BampWPmGp">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=9BampWPmGp">
    <link rel="manifest" href="/manifest.json?v=9BampWPmGp">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=9BampWPmGp" color="#d6a203">
    <link rel="shortcut icon" href="/favicon.ico?v=9BampWPmGp">
    <meta name="theme-color" content="#d6a203">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@lindseyemaddox">
    <meta name="twitter:creator" content="@lindseyemaddox">
    <meta name="twitter:title" content="Lindsey Maddox Makes Websites">
    <meta name="twitter:description" content="Lindsey Maddox is a top-performing web developer and graphic designer with a passion for creating beautiful, functional, fluidly responsive websites.">
    <meta name="twitter:image:src" content="https://www.lindseymaddox.com/_includes/schema/twitter-card.jpg">
    <meta property="og:title" content="Lindsey Maddox Makes Websites">
    <meta property="og:url" content="https://www.lindseymaddox.com">
    <meta property="og:image" content="https://www.lindseymaddox.com/_includes/schema/og-image.jpg">
    <meta property="og:site_name" content="Lindsey Maddox Makes Websites">
    <meta property="og:description" content="Lindsey Maddox is a top-performing web developer and graphic designer with a passion for creating beautiful, functional, fluidly responsive websites.">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700">
    <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/icomoon.io/12424/LindseyMaddox/style.css?a4cgnq">
    <link rel="stylesheet" type="text/css" href="_styles/compiled.css">
    <script document.createElement('picture')></script>
    <script type="text/javascript" src="_scripts/picturefill.js" async></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="_scripts/fancybox-min.js"></script>
    <script type="text/javascript" src="_scripts/main-min.js"></script>
    <body class="fancybox-case">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d206091.37549502443!2d-86.92532724688068!3d36.18655889880762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8864ec3213eb903d%3A0x7d3fb9d0a1e9daa0!2sNashville%2C+TN!5e0!3m2!1sen!2sus!4v1496542122245" width="800" height="480" frameborder="0" style="border:0; width:100%;" allowfullscreen></iframe>
    </body>
  </head>
</html>