
include head

  body.fancybox-case

    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d206091.37549502443!2d-86.92532724688068!3d36.18655889880762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8864ec3213eb903d%3A0x7d3fb9d0a1e9daa0!2sNashville%2C+TN!5e0!3m2!1sen!2sus!4v1496542122245' width='800' height='480' frameborder='0' style='border:0; width:100%;' allowfullscreen)
