
header

  nav
  
    ul
    
      li
      
        a.logo(href='/')
        
          img(src='_images/logo-lindsey-maddox.png' alt='Lindsey Maddox logo')

      li
      
        a.home(href='/') Lindsey Maddox
        
      li
        
        p.subhead 
          | Makes 
          span.switcher Awesome, Responsive, Fluid, Kickass, Amazing, Pixel-Perfect
          | Websites
        
      li
      
        a(href='/evidence') Evidence

      li
      
        a(href='/bio') Bio
        
      li
      
        a(href='/proof') Proof
        
      li
      
        a.connect Connect
