
header

  nav
  
    ul
    
      li
      
        a.logo(href='/')
        
          img(src='_images/logo-lindsey-maddox.png' alt='Lindsey Maddox logo')

      li
      
        a.home(href='/') Lindsey Maddox
        
      li
        
        p.subhead 
          span Makes 
          span.switcher-case
            span.switcher 
              span Awesome
              span Responsive
              span Fluid
              span Kickass
              span Amazing
              span Pixel-Perfect
          span Websites
        
      li
      
        a(href='/evidence') Evidence

      li
      
        a(href='/bio') Bio
        
      li
      
        a(href='/proof') Proof
        
      li
      
        a.connect Connect
