
.border-radius(n)
  border-radius: n

.transition(t)
  transition: all t ease

$backer(c)
  position: relative
  &:after
    background-color: c
    bottom: 0
    content: ''
    left: 0
    position: absolute
    top: 0
    transform: rotate(3deg)
    width: 100%
    z-index: -1

$button(w)
  background: radial-gradient(ellipse at center, #e2bd4d 0, $yellow 100%)
  border-radius: 5px
  color: $white
  display: block
  font-size: .8em
  letter-spacing: 2px
  line-height: 3em
  margin: 20px 0
  $primary-font($regular)
  text-align: center
  text-decoration: none
  text-transform: uppercase
  transition: gradient 400ms ease-in
  width: w

  &:hover
    background: radial-gradient(ellipse at center, $yellow 0%, #e2bd4d 100%)
    font-weight: $bold
