
header

  nav

    ul

      li

        a
          color: $white
          display: block

        a.logo
          margin: 0 auto
          width: 40px

          img
            width: 100%

        a.home
          $primary-font($regular)
          font-size: 60px
          letter-spacing: 0.25em
          line-height: 2em
          text-align: center
          text-decoration: none
          text-transform: uppercase

  p.subhead span
    display: inline-block

span.switcher-case
  margin: 6.25em auto
  height: 2.6em
  overflow: hidden
  text-align: center
  width: 100%

  span.switcher
    animation: TitleFlip 5s ease-in-out infinite

    span
      margin: 0px 0 1px 0
      height: 1em !important
      padding: 0px 0 0px 0
      display: block
      font-size: 3em
      text-transform: uppercase
      width: 100%

  @keyframes TitleFlip
    0%,
    20%
      transform: translate(0px, -12.50em)
    20%,
    40%
      transform: translate(0px, -9.375em)
    40%,
    60%
      transform: translate(0px, -6.44em)
    60%,
    80%
      transform: translate(0px, -3.44em)
    80%
    100%
      transform: translate(0px, -0.315em)
    100%,
    0%
      transform: translate(0px, -12.50em)
