
$light = 300
$regular = 400
$bold = 700

$base-font-size = 16px

$performance-font = Arial, Helvetica, sans-serif

$primary-font(w)
  font-family: 'Quicksand', $performance-font
  font-weight: (w)

html
  color: $white
  font-size: $base-font-size
  $primary-font($regular)

.icon-codepen
  &:before
    content: '\e900'

.icon-email
  &:before
    content: '\e901'

.icon-github
  &:before
    content: '\e902'

.icon-linkedin
  &:before
    content: '\e903'

.icon-map
  &:before
    content: '\e904'

.icon-quote
  &:before
    content: '\e907'

.icon-resume
  &:before
    content: '\e905'

.icon-twitter
  &:before
    content: '\e906'

.nowrap
  white-space: nowrap

p
  $primary-font($regular)
  color: $white
  padding-bottom: 1em

  &.intro
    font-size: 1.5em
    line-height: 1.5em
    text-transform: uppercase

    span
      $primary-font($bold)

  &.meat
    font-size: 1em
    line-height: 2em

  &.subhead
    $primary-font($bold)
    font-size: 1.125em
    letter-spacing: 4px
    line-height: 1.3333333333333333em
    padding: 2em 0
    text-align: center
    text-transform: uppercase

  &.listblob
    $primary-font($light)
    font-size: 1.1875em
    font-style: italic
    line-height: 1.7368421052631577em
    padding-bottom: 2em
    text-align: center

  &.line-item
    font-size: 1em
    line-height: 1.3em
    text-align: center
    text-transform: uppercase
    &.last
      padding-bottom: 2em

  &.workplace
    $primary-font($light)
    font-size: 1.15em
    line-height: 1.75em
    letter-spacing: 5px
    padding-bottom: 0
    text-transform: uppercase

  &.desc
    font-size: 1em
    line-height: 1.5em

  &.quote
    $primary-font($bold)
    font-size: 1.5em
    position: relative

    &:before
      content: '\e907'
      display: block
      font-family: icomoon
      left: -1.75em
      position: absolute
      top: -0.25em
      transform: rotate(180deg)

  &.author
    $primary-font($bold)
    font-size: 1em
    padding-bottom: 0.5em
    text-align: right
    text-transform: uppercase

  &.affiliation
    font-size: 0.8em
    padding-bottom: 0
    text-align: right
    text-transform: uppercase

span
  &.nobreak
    white-space: nowrap
