
$yellow = #d6a203
$pink = #e1357f
$grey = #565656
$blue = #21b8b6
$white = #ffffff
$black = #565656


$icomoon-font-path ?= "../_fonts"
$icon-github = "\e902"
$icon-codepen = "\e900"
$icon-email = "\e901"
$icon-linkedin = "\e903"
$icon-map = "\e904"
$icon-quote = "\e905"
$icon-resume = "\e906"
$icon-twitter = "\e907"
